{% extends 'base.html' %}

{% block body %}
    <div class="grid text-center margin-top-3 margin-top-tablet-5">
        <div class="cell-tablet-8 margin-x-auto">
            <h1>Good stuff is coming your way</h1>
        </div>
    </div>

    <div class="grid margin-bottom-3 margin-bottom-tablet-5">
        <div class="cell-tablet-8 margin-x-auto text-center">
            <p class="lead">
                Thanks for checking out Undo. You can expect your
                first email on Thursday, with the latest episode along
                with other things that will actually help you do less,
                not more.
            </p>
        </div>
    </div>
{% endblock body %}
